:root {
  --icon-fill: 0;
  --icon-wght: 300;
  --icon-grad: 0;
  --icon-opsz: 24;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.15;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" var(--icon-fill), "wght" var(--icon-wght), "GRAD" var(--icon-grad), "opsz" var(--icon-opsz);
}

*{
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

code,
kbd,
samp,
pre {
  font-family:
	ui-monospace,
	SFMono-Regular,
	Consolas,
	'Liberation Mono',
	Menlo,
	monospace;
  font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: 1.15;
  font-size: 100%;
}

a{
  color: inherit;
}
