/* VARIABLES */

:root {
  --color-device: #444252;
  --color-screen: #F3F3F3;
  --color-shadow: rgba(0,0,0,0.05);
  --icon-fill: 0;
  --icon-wght: 300;
  --icon-grad: 0;
  --icon-opsz: 24;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

@supports selector(:has(*)) {
  body:has(> #device)::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, var(--color-shadow), transparent);
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" var(--icon-fill), "wght" var(--icon-wght), "GRAD" var(--icon-grad), "opsz" var(--icon-opsz);
}

/* RESETS */

*{
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

code,
kbd,
samp,
pre {
  font-family:
	ui-monospace,
	SFMono-Regular,
	Consolas,
	'Liberation Mono',
	Menlo,
	monospace;
  font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: 1.15;
  font-size: 100%;
}

/* DEVICES */

#device{
  position: relative;
  border: 7px solid var(--color-device);
  border-radius: 20px;
  background-color: var(--color-screen);
}

#device::before,
#device::after{
  content: '';
  position: absolute;
  width: 5px;
  background-color: var(--color-device);
}

#device.hz::before,
#device.hz::after{
  width: initial;
  height: 5px;
}

#device::before{
  top: 100px;
  left: -10px;
  height: 50px;
  border-radius: 7px 0 0 7px;
}

#device.hz::before{
  left: 100px;
  top: -10px;
  width: 50px;
  border-radius: 7px 7px 0 0;
}

#device::after{
  top: 100px;
  right: -10px;
  height: 100px;
  border-radius: 0 7px 7px 0;
}

#device.hz::after{
  left: 100px;
  bottom: -10px;
  top: auto;
  width: 100px;
  border-radius: 0 0 7px 7px;
}

/* PHONE */

.phone{
  height: 600px;
  width: 320px;
}

.phone.hz{
  width: 600px;
  height: 320px;
}

@supports selector(:has(*)) {
  body:has(> .phone)::before{
    height: 660px;
    width: 640px;
    transform: rotateZ(25deg) translateX(50%);
  }
  body:has(> .phone.hz)::before{
    transform: rotateZ(65deg) translateX(50%);
  }
}

/* TABLET */

.tablet{
  height: 840px;
  width: 640px;
}

.tablet.hz{
  width: 840px;
  height: 640px;
}

@supports selector(:has(*)) {
  body:has(> .tablet)::before{
    height: 1050px;
    width: 640px;
    transform: rotateZ(35deg) translateX(50%);
  }
  body:has(> .tablet.hz)::before{
    transform: rotateZ(55deg) translateX(50%);
  }
}

/* SURFACE */

.surface{
  height: 1024px;
  width: 768px;
}

.surface.hz{
  width: 1024px;
  height: 768px;
}

@supports selector(:has(*)) {
  body:has(> .surface)::before{
    height: 1260px;
    width: 640px;
    transform: rotateZ(37deg) translateX(50%);
  }
  body:has(> .surface.hz)::before{
    transform: rotateZ(53deg) translateX(50%);
  }
}
