/* VARIABLES */

:root {
  --device-color: #444252;
  --screen-color: #F3F3F3;
  --shadow-color: rgba(0,0,0,0.3);
  --icon-fill: 0;
  --icon-wght: 300;
  --icon-grad: 0;
  --icon-opsz: 24;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" var(--icon-fill), "wght" var(--icon-wght), "GRAD" var(--icon-grad), "opsz" var(--icon-opsz);
}

/* RESETS */

*{
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  border: none;
}

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
	font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	line-height: 1.15;
}

/* DEVICES */

#device{
  position: relative;
  border: 7px solid var(--device-color);
  border-radius: 20px;
  background-color: var(--screen-color);
}

#device::before,
#device::after{
  content: '';
  position: absolute;
  width: 5px;
  background-color: var(--device-color);
}

#device.hz::before,
#device.hz::after{
  width: initial;
  height: 5px;
}

#device::before{
  top: 100px;
  left: -10px;
  height: 50px;
  border-radius: 7px 0 0 7px;
}

#device.hz::before{
  left: 100px;
  top: -10px;
  width: 50px;
  border-radius: 7px 7px 0 0;
}

#device::after{
  top: 100px;
  right: -10px;
  height: 100px;
  border-radius: 0 7px 7px 0;
}

#device.hz::after{
  left: 100px;
  bottom: -10px;
  width: 100px;
  border-radius: 0 0 7px 7px;
}

/* PHONE */

.phone{
  height: 600px;
  width: 320px;
}

.phone.hz{
  width: 600px;
  height: 320px;
}

/* TABLET */

.tablet{
  height: 1024px;
  width: 768px;
}

.tablet.hz{
  width: 1024px;
  height: 768px;
}

/* SURFACE */

.surface{
  height: 1368px;
  width: 912px;
}

.surface.hz{
  width: 1368px;
  height: 912px;
}
